@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=JosephineSans');


body {
	font-family: Montserrat;
}


.header {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: lightgrey;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	text-align: left;
	padding-left: 1vw;
	padding-top: 1vh;
	padding-bottom: 1vh;
}


.header_text {
	font-size: 4.5vh;
	font-weight: bold;
	color: black;
	text-decoration: none;
	margin: 0;
	text-align: center;
}

.logo {
	width: 80px;
}

.title {
	text-align: center;
	background-color: green;
	color: white;
	padding-top: 1vh;
	padding-bottom: 1vh;
	font-size: 10vh;
	font-family: Oswald;
}

.column {
	padding: 10px;
  }
  
  .row {
	justify-content: center;
	display: flex;
  }
  .row:after {
	content: "";
	display: table;
	clear: both;
	align-items: center;
  }
  
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	}
  }

.image-container{
	width: 160px;
}

.section {
	margin-left: 9%;
	margin-right:9%;
}

img {
	display: block;
	width: 100%;
	height: auto;
	object-fit: cover;
}
.body_section_1 {
	background-color: #ffe9aa;
	color: black;
}

  
  .active {
	background-color: #04AA6D;
  }

#about_image_section {
	padding: 3vh;
	background-color: transparent;
}


#about_image {
	width: 60vh;
	border: solid;
	border-width: 1vh;
	border-color: green;
}


.body_section_2 {
	padding-top: 1vh;
	padding-bottom: 1vh;
	background-color: yellowgreen;
	color: black;
}


#upload_text {
	padding: 3vh;
	background-color: transparent;
}


.caption {
	font-size: 2vh;
	text-align: center;
	font-family: JosephineSans;
}


.link {
	padding: 3vh;
	color: green;
	font-size: 5vh;
}


.horizontal {
	display: flex;
	flex-direction: row;
}

.fileInputLabel {
	display: inline-block;
	background-color: #0e4eb1;
	padding: 10px;
	width: 130px;
	color: #ffffff;
	text-align: center;
	border: 4px double #cccccc;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
	margin: 5px;
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s; 
  }

  .fileInputLabel:hover {
	background-color: #408bff;
  }

.fileInput {
	display: none;
}
  
.buttoon {
	display: inline-block;
	background-color: #0e4eb1;
	padding: 10px;
	width: 120px;
	color: #ffffff;
	text-align: center;
	border: 4px double #cccccc;
	border-radius: 10px;
	font-size: 20px;
	cursor: pointer;
	margin: 5px;
	-webkit-transition: all 0.5s; 
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s; 
  }

  .buttoon:hover {
	background-color: #408bff;
  }

body, html {
    height: 100%;
}

.hero-image {
  height: 70%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("farm_bg.jpg");
  background-color: #100a54;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 36%;
  bottom:auto;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.hero-text button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 10px 25px;
	margin-top: 15px;
	color: black;
	background-color: #ddd;
	text-align: center;
	cursor: pointer;
  }

.hero-text button:hover {
	background-color: #555;
	color: white;
  }

  .h2 {
	color: black;
	font-size: 20px;
  }
